
<style>
    .social a{
        text-decoration: none;
        color: black;
        width: 100%;
       margin: 10px;
       font-size: 1.5rem;
        justify-content: space-around;
        text-align: center;
        vertical-align: middle;
        
    }
    .social{
        display: flex;
    }
    .info-terms {
        display: flex;
          
    }
    .info-terms a{
        text-decoration: none;
        color: black;
       
        
        text-align: center;
        margin: 10px;
        width: 100%;
    }
    .foterDiv{
        display: grid;
        gap: 50px;
       justify-content: space-around;
        align-items: space-evenly;
        width: 100%;
        text-align: center;
        background-color: rgb(241, 238, 238);
        border-top: gray 1px solid ;
      
    }
    .f-brand{
      align-items: center;
      
    }
</style>

<footer>
    <div class="foterDiv">
        <div class="f-brand" >
            &copy;Rokla Private Limited

        </div>
        <div class="social">
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""> <i class="fa-brands fa-square-instagram"></i></a>
            <a href=""><i class="fa-brands fa-x-twitter"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>

        </div>
        
        <div class="info-terms">
           <a href="/privacy">Privacy</a>
           <a href="/terms"> terms</a>
        </div>
    </div>
</footer>